VITE_APP_URL=http://localhost:3000
VITE_SENTRY_DSN=https://xxxxx@sentry.io/xxxxx
VITE_SITE_EMAIL=@email.example.com
SENTRY_DSN=https://xxxxx@sentry.io/xxxxx
SENTRY_AUTH_TOKEN=xxxxxxxxx
SENTRY_ORG=your-organization-slug
SENTRY_PROJECT=your-project-name
RESEND_API_KEY=xxxxxx
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxx
CONTACT_FROM_EMAIL=@example.com
CONTACT_TO_EMAIL=your-email@gmail.com
VITE_RECAPTCHA_SITE_KEY=example
GOOGLE_RECAPTCHA_SECRET_KEY=example
VITE_DISABLE_DEVTOOLS=true or false
VITE_GA_MEASUREMENT_ID=G-XXXX
